# Cambia esto a 'staging' o 'production' cuando lo subas al servidor Ubuntu
DEPLOY_ENV=local

# URL base (Ej: http://localhost:8080 para local, https://learn.midominio.eu para prod)
EXTERNAL_ROOT_URL=http://localhost:8080

# Credenciales de la Base de Datos
DB_NAME=moodle_erasmus
DB_USER=moodle_user
DB_PASSWORD=moodle_secure_password
DB_ROOT_PASSWORD=moodle_root_secure