# Environment variables and secrets
.env

# Locally generated data volume directories
# this includes the Moodle source code (downloaded via git clone)
bind-mounts/

# System and log files
*.log
.DS_Store
Thumbs.db